@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


button {
    cursor: pointer;
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 16px 24px;
    max-width: 1920px;
    height: 100px;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

/* 

LANDING PAGE

*/

#landing-page {
    background: transparent;
    position: relative;
}

.nav__link--list {
    display: flex;
    
}

.nav__link {
    margin: 0 12px;
}

#stats-logo {
    width: 50px;
    height: 50px;
    margin: 12px;
}

.player__search {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player__search--title {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: .1em;
    font-size: 45px;
    max-width: 1000px;
    margin-bottom: 64px;
    color: #fff;
}

.player__search--bar--wrapper {
    display: flex;
    width: 100%;
}

.player__search--bar, #year-filter {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 9999px;
    padding: 8px;
    display: flex;
    margin-bottom: 128px;
    margin-right: 64px;
}

#year-filter {
    width: 125px;
}

.player__search--bar--input { 
    width: 90%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    padding-left: 24px;
    text-align: center;
}

.player__search--bar--input::placeholder {
    color: #fff;
    opacity: 0.7;
}

.player__search--bar--input:focus-visible {
    outline: none;
}

.player__search--bar--button {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    border: none;
    padding-right: 8px;
}

.player__search--bar--button--img {
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.background-img--wrapper {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background-img {
    object-fit: cover;
    width: 100%;
    height: 60vh;
}

/* 

PLAYER STATS DISPLAY

*/

#player-display {
    background-color: #242424;
    padding: 40px 20px;
}

.player-display__header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.player-display__search {
    font-size: 28px;
    color: #fff;
}

#filter {
    background-color: #6030b1;
    border: none;
    border-radius: 9999px;
    color: #fff;
}

#filter:focus-visible {
    outline: none;
}

.player-display__label-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.player-display__actual-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-display__stats--wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-display__stats {
    display: flex;
    flex-direction: column;
    padding: 64px 0;
}

.player-display__stats--pic, .player-display__labels--pic, .player-display__stats--name, .player-display__labels--name {
    width: 20%;
    height: auto;
}

.player-display__labels--ppg, .player-display__stats--ppg, .player-display__stats--apg, .player-display__stats--drpg, .player-display__stats--bpg, .player-display__stats--spg, .player-display__labels--apg, .player-display__labels--drpg, .player-display__labels--bpg, .player-display__labels--spg, .player-display__labels--orpg, .player-display__stats--orpg{
    width: 10%;
    height: auto;
    overflow-wrap: break-word;
}

.player__stat {
    overflow-wrap: break-word;
    padding: 0 8px;
}

.player-display__label {
    padding: 0 8px;
}

.player__img {
    max-width: 125px;
    width: 100%;
    height: auto;
}

.player__stat, .player-display__label {
    color: #fff;
}



/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    .player-display__text {
        font-size: 12px;
    }

    .player-display__search {
        font-size: 20px;
    }

    .player__search--title {
        font-size: 24px;
    }

    .player__search--bar--input {
        font-size: 14px;
        padding-left: 0;
    }

    .player__search--bar--button--img {
        height: 15px;
        width: 15px;
    }
  }
  
  
  /* SMALL PHONES, LARGE SMARTPHONES */
  @media (max-width: 550px) {

    nav {
        flex-direction: column;
    }

    .nav__link--list {
        flex-direction: column;
    }

    .player__search {
        margin-top: 128px;
    }

    #filter {
        width: 50px;
    }

    #year-filter {
        width: 25%;
        margin-right: 16px;
    }

    .player__search--bar {
        width: 75%;
        margin-right: 16px;
    }

    .player__search--bar--input {
        font-size: 8px;
        padding-left: 0;
    }

    .player-display__text {
        font-size: 6px;
    }

    .player-display__search {
        font-size: 14px;
    }

    .player__search--title {
        font-size: 16px;
    }
    
   
  }



